.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-flora);
}

.container__img__de_fundo {
    width: 100%;
    object-fit: cover;
}

.container__titulo {
    font-size: 18rem;
    position: absolute;
}